{% extends 'flux/base.html' %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'flux/js/scripts.js'%}"></script>
{% endblock %}

{% block content %}
<h2>Créer un ticket</h2>
<form id="add_ticket" method="post" enctype="multipart/form-data">
    <div>
        <label for="id_title">Titre</label>
        {{ticket_form.title}}
    </div>
    <div>
        <label for="id_description">Description</label>
        {{ticket_form.description}}
    </div>
    <div>
        <p class="label">Image</p>
        <img id="ticket_image" src="{% static 'favicon.png' %}" alt="image du ticket" title="image du ticket">
        {{ticket_form.image}}
        <div id="custom_button" class="custom_button">
            <button id="custom_image_button" type="button">Télécharger fichier</button>
            <p id="fileName"></p>
        </div>
    </div>
    {% csrf_token %}
    <div class="submit">
        <button type="submit">Envoyer</button>
    </div>
</form>
{%endblock content%}