<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" type="text/css" href="{% static 'flux/styles.css' %}">
    </head>
    <body>
        <header>
            <div class="title">
                <h1>LITRevu</h1>
            </div>
            <nav>
                <a href="{% url 'flux' %}">Flux</a>
                <a href="">Posts</a>
                <a href="">Abonnements</a>
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </nav>
        </header>
        {%block content%}{%endblock%}
    </body>
</html>