{%extends 'flux/base.html'%}
{% load flux_extras %}
{%block content%}

<a href="{% url 'create-ticket' %}">Demander une critique</a>
<a href="{% url 'create-review' %}">Créer une critique</a>
<div class="flux">
    {% for instance in tickets_and_reviews %}
    {% if instance|model_type == "Ticket" %}
    <div class="ticket">
        <p>{{instance.author}} a demandé une critique</p>
        <p>{{instance.time_created}}</p>
        <p><strong>{{instance.title}}</strong></p>
        <p>{{instance.description}}</p>
        {% if instance.image %}
        <img src="{{ticket.image.url}}" alt="ticket image" title="ticket image">
        {%endif%}
        <a href="">Créer une critique</a>
    </div>
    {% elif instance|model_type == "Review" %}
    <div class="review">
        <p>{{instance.author}} a publié une critique</p>
        <p>{{instance.time_created}}</p>
        <p><strong>{{instance.headline}} - {{instance.rating}}</strong></p>
        <p>{{instance.body}}</p>
        <div class="inner_ticket">
            <p>Ticket - {{instance.ticket.author}} a demandé une critique</p>
            <p>{{instance.title}}</p>
            {% if instance.image %}
                <img src="{{ticket.image.url}}" alt="ticket image" title="ticket image">
            {%endif%}
        </div>
    </div>
    {%endif%}
    {%endfor%}
</div>
{%endblock%}