{%extends 'flux/base.html'%}

{%block content%}

<a href="{% url 'create-ticket' %}">Demander une critique</a>
<a href="{% url 'create-review' %}">Créer une critique</a>
<div class="flux">
    {% for ticket in tickets %}
    <div class="ticket">
        <p>{{ticket.author}} a demandé une critique</p>
        <p><strong>{{ticket.title}}</strong></p>
        <p>{{ticket.description}}</p>
        {% if ticket.image %}
        <img src="{{ticket.image.url}}" alt="ticket image" title="ticket image">
        {%endif%}
        <a href="">Créer une critique</a>
    </div>
    {%endfor%}
</div>
{%endblock%}