{% extends 'flux/base.html' %}
{%block content%}
<h2>Modifier votre critique</h2>
<div class="review_to_englobe">
    <div class="ticket_englobe">
        <div class="ticket_outer">
            <span>Vous êtes en train de poster en réponse à</span>
            <div class="ticket">
                <p>{{ticket.author}} a demandé une critique</p>
                <p class="time">{{ticket.time_created}}</p>
                <p>{{ticket.title}}</p>
                <p>{{ticket.description}}</p>
                {% if ticket.image %}
                    <img src="{{ticket.image.url}}" alt="ticket image" title="ticket image">
                {%endif%}
            </div>
        </div>
    </div>
    <div class="review_to">
        <form id="add_review" method="post" enctype="multipart/form-data">
            <p>Critique</p>
            <div class="review_section">
               <label for="id_headline">Titre</label>
               {{review_form.headline}}
            </div>
            <div class="review_section">
                <label for="id_review">Note</label>
                {{review_form.rating}}
            </div>
            <div class="review_section">
                <label for="id_body">Commentaire</label>
                {{review_form.body}}
            </div>
            {% csrf_token %}
            <div class="submit_review">
                <button type="submit">Envoyer</button>
            </div>
        </form>
    </div>
</div>
{%endblock content%}