{% extends 'flux/base.html' %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'flux/js/scripts.js'%}"></script>
{% endblock %}

{% block content %}
<h2>Modifier votre ticket</h2>
<form id="add_ticket" method="post" enctype="multipart/form-data">
    <div>
        <label for="id_title">Titre</label>
        {{ticket_form.title}}
    </div>
    <div>
        <label for="id_description">Description</label>
        {{ticket_form.description}}
    </div>
    <div>
        <label for="id_image">Image</label>
        <img id="ticket_image" src="{{ticket.image.url}}" alt="image du ticket" title="image du ticket">
        <input id="id_image" type="file" name="image" accept="image">
        <div class="custom_button">
            <button id="custom_image_button" type="button">Télécharger fichier</button>
            <p id="fileName"></p>
        </div>
    </div>
    {% csrf_token %}
    <div class="submit">
        <button type="submit">Envoyer</button>
    </div>
</form>
{%endblock content%}