{%extends 'flux/base.html' %}
{% load flux_extras %}
{% block content %}
<h2>Vos posts</h2>
<div class="flux">
{% for instance in tickets_and_reviews %}
    {% if instance|model_type == "Ticket" %}
    <div class="ticket">
        <p>{{instance.author}} a demandé une critique</p>
        <p>{{instance.time_created}}</p>
        <p><strong>{{instance.title}}</strong></p>
        <p>{{instance.description}}</p>
        {% if instance.image %}
            <img src="{{ticket.image.url}}" alt="ticket image" title="ticket image">
        {%endif%}
        <form method="post" action="{% url 'modify-ticket' instance.id %}">
            {% csrf_token %}
            <button type="submit">Modifier</button>
        </form>
        <form method="post" action="{% url 'delete-ticket' instance.id %}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce ticket ?');">
            {% csrf_token %}
            <button type="submit">Supprimer</button>
        </form>
    </div>
    {% elif instance|model_type == "Review" %}
    <div class="review">
        <p>{{instance.author}} a publié une critique</p>
        <p>{{instance.time_created}}</p>
        <p><strong>{{instance.headline}} - {{instance.rating}}</strong></p>
        <p>{{instance.body}}</p>
        <div class="inner_ticket">
            <p>Ticket - {{instance.ticket.author}} a demandé une critique</p>
            <p>{{instance.title}}</p>
            {% if instance.image %}
                <img src="{{ticket.image.url}}" alt="ticket image" title="ticket image">
            {%endif%}
        <form method="post" action="{% url 'modify-review' instance.id %}">
            {% csrf_token %}
            <button type="submit">Modifier</button>
        </form>
        <form method="post" action="{% url 'delete-review' instance.id %}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce review ?');">
            {% csrf_token %}
            <button type="submit">Supprimer</button>
        </form>
        </div>
    </div>
    {%endif%}
{%endfor%}
</div>
{% endblock %}