{% extends 'flux/base.html' %}
{% load follow_tags %}
{%block content%}
<h2>Suivre d'autres utilisateurs</h2>
<form id="sub_search" action="" method="get">
    {{search_form.as_p}}
    <button class="search_button" type="submit">Envoyer</button>
</form>
{% if results %}
    <ul>
        {% for result in results %}
            <li class="result">
                <div class="result_row">
                    <p>{{ result.username }}</p>
                    <form method="post" action="{% url 'manage-subscriptions' result.id %}">
                        {% csrf_token %}
                        {% if request.user|is_following:result %}
                        <button type="submit">Désabonner</button>
                        {% else %}
                        <button type="submit">Abonner</button>
                        {% endif %}
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{%endif%}
<h3>Abonnements</h3>
{% if subscribed_to %}
    <ul>
        {% for creator in subscribed_to %}
        <li class="result">
            <div class="result_row">
                <p>{{creator.username}}</p>
                <form method="post" action="{% url 'manage-subscriptions' creator.id %}">
                    {% csrf_token %}
                    <button type="submit">Désabonner</button>
                </form>
            </div>
        </li>
        {%endfor%}
    </ul>
{%endif%}
<h3>Abonnés</h3>
{% if subscribers %}
    <ul>
        {% for subscriber in subscribers %}
        <li class="result">
            <p>{{subscriber.username}}</p>
        </li>
        {%endfor%}
    </ul>
{%endif%}
{%endblock%}