{% extends 'flux/base.html' %}
{% load follow_tags %}
{%block content%}
<h2>Suivre d'autres utilisateurs</h2>
<form action="" method="get">
    {{search_form.as_p}}
    <button type="submit">Envoyer</button>
</form>
{% if results %}
    <ul>
        {% for result in results %}
            <li>{{ result.username }}
                <form method="post" action="{% url 'manage-subscriptions' result.id %}">
                    {% csrf_token %}
                    {% if request.user|is_following:result %}
                        <button type="submit">Désabonner</button>
                    {% else %}
                        <button type="submit">Abonner</button>
                    {% endif %}
                </form>
            </li>
        {% endfor %}
    </ul>
{%endif%}
<h3>Abonnements</h3>
{% if subscribed_to %}
    <ul>
        {% for creator in subscribed_to %}
        <li>{{creator.username}}</li>
        <form method="post" action="{% url 'manage-subscriptions' creator.id %}">
            {% csrf_token %}
            <button type="submit">Désabonner</button>
        </form>
        {%endfor%}
    </ul>
{%endif%}
<h3>Abonnés</h3>
{% if subscribers %}
    <ul>
        {% for subscriber in subscribers %}
        <li>{{subscriber.username}}</li>
        {%endfor%}
    </ul>
{%endif%}
{%endblock%}